body {
  padding: 30px 0;
  /* Src: http://www.aiflex.com/wp-content/uploads/2010/09/backgroundpng.png */
  background-image:  url("../files/background.png");
}

/* Using paper friendly height and width */
.container {
    height: 279mm;
    margin: 0 auto;
    padding: 0;
    width: 215mm;
}

.container .row {
    height: 100%;
    margin: 0;
}

.sidebar {
  color: #424242;
  font-size: 4mm;
  height: 100%;
  padding: 0 !important; /* Overwrite Materialize */
}

.sidebar .info-container {
  margin: 2mm 0;
  padding: 0 !important;
}

.sidebar .reverse {
  color: #03a9f4;
}

.name-container {
  font-size: 10mm;
  font-weight: bold;
  margin: 30mm 0 0;
  text-align: center;
}

.name-container p {
  line-height: 9mm;
  margin: 0 0 4mm;
}

.name-job-container {
  font-size: 7mm;
  text-align: center;
}

.name-job-container p {
  margin:  0;
}

.info-title-container {
  font-size: 6mm;
  margin: 10mm 0 5mm;
  text-align: center;
}

.info-icon-container {
  text-align: right;
}

.info-icon-container i {
  margin: 2mm 0;
}

.info-text-container {
  font-weight: 500;
}

.info-text-container p {
  margin: 2mm 0;
}

.info-text-container ul {
  margin: 2mm 0 0;
}
.info-text-container li {
  margin: 0 0 2mm;
}

.info-text-container a {
  color: #eeeeee;
  font-weight: bold;
  transition: text-shadow 0.2s ease-out;
}

.info-text-container a:hover {
  text-shadow: 0mm 0.5mm 1mm#000;
  font-weight: bolder;
  transition: text-shadow 0.2s ease-out;
}

.main-panel {
  color: #424242;
  height: 100%;
  padding: 2mm 4mm!important;
}

.content-panel {
  -webkit-box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),
                     0 1px 10px 0 rgba(0,0,0,0.12),
                     0 2px 4px -1px rgba(0,0,0,0.3);
  box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),
             0 1px 10px 0 rgba(0,0,0,0.12),
             0 2px 4px -1px rgba(0,0,0,0.3);
  margin: 2mm;
  padding: 5mm !important;
  transition: box-shadow 0.2s ease-out;
}

.content-panel:hover {
  -webkit-box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),
                     0 3px 14px 2px rgba(0,0,0,0.12),
                     0 5px 5px -3px rgba(0,0,0,0.3);
  box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),
             0 3px 14px 2px rgba(0,0,0,0.12),
             0 5px 5px -3px rgba(0,0,0,0.3);
  transition: box-shadow 0.2s ease-out;
}

.content-panel .material-icons {
  font-size: 8mm;
}

.content-panel h1 {
  font-size: 8mm;
  margin: 0;
}

.content-panel h2 {
  font-size: 6mm;
  margin: 1mm 0;
}

.content-panel h3 {
  color: #03a9f4;
  font-size: 4mm;
  margin: 0.5mm 0;
}

.content-panel .devicon {
  padding: 3mm 0 0;
}

.content-panel .devicon i {
  font-size: 13mm;
  margin: 2mm 3mm;
}

.content-panel p {
  margin: 2.5mm 0;
}

.content-panel span {
  font-size: 3mm;
}

.job-box, .school-box {
  margin: 2mm 0;
}

.other-skills p {
  margin: 0;
  text-align: center;
}
