body {
  padding: 35px 0 35px 0;
}

/* Using paper friendly height and width */
.container {
    height: 280mm;
    margin: 0 auto;
    padding: 0;
    width: 215mm;
}

.container .row {
    height: 100%;
    margin: 0;
}

.sidebar {
  color: white;
  height: 100%;
  padding: 0 !important; /* Overwrite Materialize */
}

#name {
  font-size: 8mm;
  margin: 8mm 0 0;
  text-align: center;
}

#job-title {
  font-size: 5mm;
  margin: 0 0 8mm;
  text-align: center;
}
