body {
  padding: 35px 0 35px 0;
}

/* Using paper friendly height and width */
.container {
    height: 280mm;
    margin: 0 auto;
    padding: 0;
    width: 215mm;
}

.container .row {
    height: 100%;
    margin: 0;
}

.sidebar {
  color: #424242;
  height: 100%;
  padding: 0 !important; /* Overwrite Materialize */
}

.sidebar .reverse {
  color: #03a9f4;
}

#name {
  font-size: 10mm;
  font-weight: bold;
  margin: 8mm 0 0;
  text-align: center;
}

#job-title {
  margin:  0;
  font-size: 6mm;
  text-align: center;
}
